@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400; }

body {
  min-width: 1220px;
  height: 100%;
  font-size: 18px;
  line-height: 170%;
  font-family: "Montserrat", sans-serif;
  color: #000; }

.container1 {
  width: 952px;
  margin: 0 auto; }

.container2 {
  width: 1170px;
  margin: 0 auto; }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0); }

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.5px;
  border: 1px solid white;
  height: 50px;
  width: 200px;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  -webkit-transition: 0.2s;
  transition: 0.2s; }

.btn:hover {
  background-color: rgba(0, 0, 0, 0.8);
  font-size: 17px; }

.red-heading {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px 0 20px;
  margin: 20px 0 30px 0;
  border-radius: 19px;
  height: 38px;
  min-width: 200px;
  background-color: #d90000;
  font-size: 18px;
  line-height: 22px;
  color: #fff; }

.page-header {
  padding: 120px 0 45px 0; }
  .page-header .page-header__rows {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .page-header .logo {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin: 0 0 70px 0; }
  .page-header .main-nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .page-header .main-nav__item {
    border-bottom: 1px solid white; }
    .page-header .main-nav__item a {
      font-size: 18px;
      line-height: 22px;
      font-weight: 400;
      color: #333; }
    .page-header .main-nav__item:hover {
      border-bottom: 1px solid red; }

.form-mailing {
  padding: 94px 0;
  background-color: #f3f3f7; }
  .form-mailing .form {
    max-width: 800px;
    margin: 0px auto; }
    .form-mailing .form__group {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
    .form-mailing .form__label {
      font-size: 30px;
      line-height: 37px;
      margin: 0 0 30px 0; }
    .form-mailing .form__input {
      border: 1px solid #9a9a9a;
      background-color: #f3f3f7;
      width: 350px;
      height: 50px;
      margin-right: 10px;
      padding: 0 0 0 19px;
      font-size: 14px;
      line-height: 20px;
      color: #9a9a9a; }
    .form-mailing .form__button {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      text-align: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      font-size: 16px;
      font-weight: 400;
      line-height: 20px;
      text-transform: uppercase;
      height: 50px;
      width: 200px;
      background-color: #1a1a1a;
      color: white;
      -webkit-transition: 0.2s;
      transition: 0.2s; }

.footer {
  height: 140px;
  background-color: #1A1A1A;
  padding: 50px 0; }
  .footer .footer__container {
    width: 400px;
    height: 40px;
    margin: 0 auto; }
  .footer .footer__row {
    width: 400px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .footer .social-btn {
    font-size: 0;
    width: 40px;
    height: 40px; }
  .footer .social-btn-fb {
    background: url("../img/main/1.png") center/auto auto no-repeat; }
  .footer .social-btn-tv {
    background: url("../img/main/2.png") center/auto auto no-repeat; }
  .footer .social-btn-in {
    background: url("../img/main/3.png") center/auto auto no-repeat; }
  .footer .social-btn-p {
    background: url("../img/main/4.png") center/auto auto no-repeat; }
  .footer .social-btn-go {
    background: url("../img/main/5.png") center/auto auto no-repeat; }
  .footer .social-btn-hy {
    background: url("../img/main/6.png") center/auto auto no-repeat; }
  .footer .social-btn-t {
    background: url("../img/main/7.png") center/auto auto no-repeat; }

.introduction {
  padding: 0 0 100px 0;
  /* Лента слайдов */ }
  .introduction .intr__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .introduction .intr-content__big {
    position: relative; }
    .introduction .intr-content__big a,
    .introduction .intr-content__big p {
      position: absolute; }
    .introduction .intr-content__big p {
      max-width: 623px;
      font-size: 36px;
      line-height: 44px;
      color: white;
      bottom: 145px;
      left: 60px; }
    .introduction .intr-content__big a {
      bottom: 60px;
      left: 60px; }
    .introduction .intr-content__big .intr-content__number {
      bottom: 220px;
      left: 75px;
      font-style: italic;
      font-weight: 300; }
  .introduction .intr-content__small .intr-content__item {
    position: relative; }
    .introduction .intr-content__small .intr-content__item a,
    .introduction .intr-content__small .intr-content__item p {
      position: absolute; }
    .introduction .intr-content__small .intr-content__item p {
      max-width: 243px;
      font-size: 24px;
      line-height: 29px;
      color: white;
      bottom: 110px;
      left: 30px; }
    .introduction .intr-content__small .intr-content__item a {
      bottom: 30px;
      left: 30px; }
  .introduction .intr-content__small .intr-content__item:first-child {
    margin-bottom: 8.3px; }
  .introduction .slick-list {
    overflow: hidden; }
  .introduction .slick-track {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .introduction .slider {
    position: relative; }
  .introduction .slider .slick-arrow {
    position: absolute;
    top: 50%;
    z-index: 10;
    font-size: 0; }
  .introduction .slider .slick-arrow.slick-prev {
    left: 0; }
  .introduction .slider .slick-arrow.slick-next {
    right: 0; }
  .introduction .slider .slick-dots {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .introduction .slider .slick-dots li {
    list-style: none;
    margin: 0 10px; }
  .introduction .slider .slick-dots li button {
    font-size: 0;
    width: 13px;
    height: 13px;
    background-color: #4F4F4F;
    border-radius: 50%; }
  .introduction .slider .slick-dots li.slick-active button {
    background-color: transparent;
    border: 1px solid #4F4F4F; }

.Modern-buildings {
  padding-bottom: 100px; }
  .Modern-buildings a {
    display: inline-block;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.5px;
    color: #000;
    margin-top: 20px; }
  .Modern-buildings a:hover {
    border-bottom: 1px solid red; }
  .Modern-buildings__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .Modern-buildings__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 0 20px 0; }

.Old-build {
  padding: 100px 0 100px 0; }
  .Old-build a {
    display: inline-block;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.5px;
    color: #000;
    margin-top: 20px; }
  .Old-build a:hover {
    border-bottom: 1px solid red; }
  .Old-build__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .Old-build__religious {
    margin-right: 50px; }
  .Old-build__tourist {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .Old-build__left img:first-child {
    margin: 0 0 13px 0; }

.news {
  position: relative;
  /* Лента слайдов */ }
  .news .red-heading {
    position: absolute;
    z-index: 10;
    left: calc(50% - 133px);
    z-index: 10000; }
  .news .slider__item {
    position: relative;
    height: 617px;
    overflow: hidden; }
    .news .slider__item a, .news .slider__item p {
      position: absolute;
      color: #fff; }
    .news .slider__item a {
      left: calc(50% - 100px);
      bottom: 168px; }
    .news .slider__item p {
      width: 900px;
      font-weight: 500;
      line-height: 73px;
      font-size: 60px;
      text-align: center;
      left: calc(50% - 450px);
      top: 213px; }
    .news .slider__item img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
         object-fit: cover; }
  .news .slick-list {
    overflow: hidden; }
  .news .slick-track {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .news .slider1 {
    position: relative; }
  .news .slider1 .slick-arrow {
    position: absolute;
    top: 50%;
    z-index: 10000;
    font-size: 0;
    width: 40px;
    height: 40px; }
  .news .slider1 .slick-arrow.slick-prev {
    left: 10%;
    background: url(../img/main/left.svg) 0 0/100% no-repeat; }
  .news .slider1 .slick-arrow.slick-next {
    right: 10%;
    background: url(../img/main/right.svg) 0 0/100% no-repeat; }
  .news .slider1 .slick-dots {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 91px;
    position: absolute;
    left: calc(50% - 45.5px);
    bottom: 100px;
    z-index: 10000; }
  .news .slider1 .slick-dots li {
    list-style: none;
    margin: 0 10px; }
  .news .slider1 .slick-dots li button {
    font-size: 0;
    width: 13px;
    height: 13px;
    background-color: #fff;
    border-radius: 50%; }
  .news .slider1 .slick-dots li.slick-active button {
    background-color: transparent;
    border: 1px solid #fff; }

.main-breadcrumbs {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 16px;
  color: rgba(51, 51, 51, 0.5);
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding: 20px 0 0 0; }
  .main-breadcrumbs li:not(.active)::after {
    content: '\005C';
    margin: 0 10px 0 5px; }
  .main-breadcrumbs li.active {
    color: rgba(51, 51, 51, 0.5); }

.main-content__heading {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.13em;
  text-transform: uppercase; }

.main-content .main-content__heading__num {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: rgba(51, 51, 51, 0.5);
  margin: 0px 0 20px 0; }

.main-content .news-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .main-content .news-list li {
    width: 277px; }
    .main-content .news-list li a {
      display: block;
      font-weight: 500;
      font-size: 16px;
      line-height: 170%;
      letter-spacing: 0.13em;
      text-transform: uppercase;
      color: #000000; }
    .main-content .news-list li a:hover {
      color: #D90000; }
    .main-content .news-list li .image {
      position: relative;
      overflow: hidden;
      margin: 0 0 20px 0; }
    .main-content .news-list li img {
      -o-object-fit: cover;
         object-fit: cover; }
    .main-content .news-list li button {
      position: absolute;
      width: 150px;
      height: 46px;
      bottom: 0px;
      left: 0px;
      font-weight: 400;
      font-size: 12px;
      line-height: 15px;
      text-transform: uppercase;
      letter-spacing: 0.13em;
      color: #333333;
      opacity: 0; }
    .main-content .news-list li a:hover button {
      opacity: 1; }
    .main-content .news-list li button:after {
      content: '';
      background: url("../img/news/Vector.svg") 0 0 no-repeat;
      width: 10px;
      height: 13px;
      position: absolute;
      bottom: calc(50% - 7px);
      right: 18px;
      opacity: 0; }
    .main-content .news-list li a:hover button:after {
      opacity: 1; }
  .main-content .news-list li:nth-child(3n+2) {
    width: 358px; }
  .main-content .news-list li:nth-child(n+4) {
    margin-top: 60px; }

.main-content .number-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 60px 0 120px 0; }
  .main-content .number-page li {
    margin: 0 10px 0 10px; }
  .main-content .number-page .active a {
    color: #d90000; }
  .main-content .number-page .active::after {
    content: '';
    display: inline-block;
    margin: 0 0 0 20px;
    border-top: 1px solid #333;
    width: 238.5px;
    height: 5px; }
  .main-content .number-page a {
    font-weight: 500;
    font-size: 16px;
    line-height: 170%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    letter-spacing: 0.13em;
    text-transform: uppercase;
    color: #333333; }
  .main-content .number-page a:hover {
    color: #d90000; }

.main-content h2 {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.13em;
  text-transform: uppercase;
  color: #000000;
  margin: 0 0 40px 0; }

.main-content .author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 0 10px 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
  .main-content .author span {
    color: #D90000; }
  .main-content .author li {
    position: relative;
    width: 210px;
    height: 37px;
    padding: 0 0 0 48px; }
  .main-content .author li:nth-child(1)::before {
    content: '';
    background: url("../img/building/1.png") 0 0 no-repeat;
    position: absolute;
    width: 32px;
    height: 34px;
    top: 0;
    left: 0; }
  .main-content .author li:nth-child(2)::before {
    content: '';
    background: url("../img/building/2.png") 0 0 no-repeat;
    position: absolute;
    width: 33px;
    height: 34px;
    top: 0;
    left: 0; }
  .main-content .author li:nth-child(3)::before {
    content: '';
    background: url("../img/building/3.png") 0 0 no-repeat;
    position: absolute;
    width: 32px;
    height: 34px;
    top: 0;
    left: 0; }

.main-content .bold {
  padding: 55px 0 0 0;
  font-weight: 600;
  font-size: 18px;
  line-height: 170%;
  color: #333333; }

.main-content .text {
  font-weight: 400;
  font-size: 18px;
  line-height: 170%;
  color: #333333;
  padding: 40px 0 0 0; }
  .main-content .text p:nth-child(2) {
    margin: 2em 0 2em 0; }

.main-content .foto-block {
  padding: 50px 0 0 0; }
  .main-content .foto-block h2 {
    font-weight: 600;
    font-size: 16px;
    line-height: 170%;
    color: #000000;
    letter-spacing: normal; }
  .main-content .foto-block .foto-block__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    overflow: hidden; }
  .main-content .foto-block .foto__left {
    margin: 0 20px 0 0; }
    .main-content .foto-block .foto__left p {
      margin: 20px 0 0 0;
      font-weight: 500;
      font-size: 16px;
      line-height: 170%;
      letter-spacing: 0.13em;
      text-transform: uppercase;
      color: #000000; }
      .main-content .foto-block .foto__left p span {
        ont-weight: 400;
        font-size: 14px;
        line-height: 170%;
        letter-spacing: normal;
        text-transform: none;
        color: rgba(0, 0, 0, 0.5); }
  .main-content .foto-block .foto__right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .main-content .foto-block .foto__right img:last-child {
      margin: 20px 0 0 0; }

.main-content .text2 {
  font-weight: 400;
  font-size: 18px;
  line-height: 170%;
  color: #333333;
  padding: 50px 0 0 0; }
  .main-content .text2 p:nth-child(2),
  .main-content .text2 p:nth-child(3) {
    margin: 2em 0 2em 0; }

.read-with {
  padding: 120px 0 0 0; }
  .read-with h2 {
    font-weight: 600;
    font-size: 16px;
    line-height: 170%;
    letter-spacing: 0.13em;
    text-transform: uppercase;
    color: #000000; }
  .read-with .read-list {
    padding: 27px 0 120px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .read-with .read-list a {
      display: block; }
  .read-with .read-list-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 305px; }
    .read-with .read-list-item .description {
      position: relative;
      margin: 0 0 0 18px; }
      .read-with .read-list-item .description p:first-child {
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        color: #333333; }
      .read-with .read-list-item .description p:last-child {
        position: absolute;
        bottom: 0;
        left: 0;
        font-weight: 400;
        font-size: 12px;
        line-height: 20px;
        letter-spacing: 0.13em;
        text-transform: uppercase;
        color: #333333; }
